Repository froozeify/narvik-back: changes, and which Codecov flags are due for each by the changed paths.
All: Entity, Controller

codecov.yml:

comment:
    layout: "header, diff, flags, components, files"  # show component info in the PR comment
    require_base: false
    require_head: false

component_management:
    default_rules: # default rules that will be inherited by all components
        statuses:
            -   type: project # in this case every component that doesn't have a status defined will have a project type one
                target: auto
                branches:
                    - "!main"
    individual_components:
        -   component_id: entity
            name: Entity
            paths:
                - src/Entity/**

        -   component_id: controller
            name: Controller
            paths:
                - src/Controller/**

Fix v3 migration issues (missing sequences)
  migrations/Version20250218095423.php
  src/Entity/Abstract/UuidEntity.php
  src/Entity/File.php
  src/Entity/Trait/UuidTrait.php
  src/Entity/UserMember.php
  src/Entity/UserSecurityCode.php
Due: Entity

Version 3.0.1
  composer.json
Due: none

Update ci
  .github/workflows/ci.yml
Due: none

Version 3.0.1
  .github/workflows/ci.yml
  migrations/Version20250218095423.php
Due: none

Query perfomance improvement if club is already set
  src/Doctrine/UserClubExtension.php
Due: none

Update test due to new query logic
  tests/AbstractTestCase.php
  tests/Entity/ClubDependent/MemberSeasonTest.php
  tests/Entity/ClubDependent/MemberTest.php
  tests/Entity/ClubDependent/Plugin/Presence/ExternalPresenceTest.php
  tests/Entity/ClubDependent/Plugin/Presence/MemberPresenceTest.php
  tests/Entity/ClubDependent/Plugin/Sale/InventoryCategoryTest.php
  tests/Entity/ClubDependent/Plugin/Sale/InventoryItemTest.php
  tests/Entity/ClubDependent/Plugin/Sale/SalePaymentModeTest.php
  tests/Entity/ClubDependent/Plugin/Sale/SaleTest.php
  tests/Entity/ClubTest.php
Due: none

Make importing member presences async
  config/packages/messenger.yaml
  src/Controller/ClubDependent/Plugin/Presence/MemberPresencesFromCsv.php
  src/EventSubscriber/Doctrine/TimestampEntityPrePersistSubscriber.php
  src/Importer/AbstractCsvImporter.php
  src/Importer/ImportExternalPresence.php
  src/Importer/ImportMemberPresence.php
  src/Message/MemberPresencesCsvMessage.php
  src/MessageHandler/MemberPresencesCsvMessageHandler.php
  src/Service/AbstractCsvService.php
  src/Service/ImportItacCsvService.php
  src/Service/MemberPresenceService.php
  tests/Entity/ClubDependent/Plugin/Presence/MemberPresenceTest.php
Due: Controller

Add migration
  migrations/Version20250219161200.php
Due: none

Rollback fail migration
  migrations/Version20250219161200.php
Due: none

Add generate badger action
  src/Controller/ClubGenerateBadger.php
  src/Entity/Club.php
Due: Entity, Controller

Add generate badger action test
  tests/Entity/ClubTest.php
Due: none

Version 3.0.2
  composer.json
Due: none

Update badger account creation name
  src/Service/ClubService.php
Due: none

Add email validation
  src/Entity/User.php
Due: Entity

Make weight field writable
  src/Entity/ClubDependent/Plugin/Sale/InventoryCategory.php
  src/Entity/ClubDependent/Plugin/Sale/SalePaymentMode.php
Due: Entity

Fix using parameter instead of $_ENV
  config/services.yaml
  src/Command/InstallOAuthCommand.php
  src/Controller/SecurityController.php
Due: Controller

Version 3.0.3
  composer.json
Due: none

Add medical certifcate on member
  CONTRIBUTING.md
  src/Entity/ClubDependent/Member.php
Due: Entity

Add medical certifcate on member
  migrations/Version20250222101719.php
  src/Controller/ClubDependent/MemberImportFromEden.php
  src/Entity/ClubDependent/Member.php
  src/Service/ImportEdenService.php
  src/Service/ImportItacCsvService.php
  tests/Entity/ClubDependent/MemberTest.php
  tests/FixtureFileManager.php
  tests/fixtures/eden-members.xlsx
Due: Entity, Controller

Add some more test
  tests/Entity/ClubDependent/MemberTest.php
Due: none

Version 3.1.0
  composer.json
Due: none

Add turnstile
  .env
  .env.test
  composer.json
  composer.lock
  config/services.yaml
  src/Controller/UserInitiateRegister.php
  src/Controller/UserPasswordResetInitiate.php
  src/Entity/User.php
  src/Service/TurnstileService.php
  tests/Entity/UserTest.php
Due: Entity, Controller

Upgrade to SF 7.2.4
  composer.lock
Due: none

Update some deps
  composer.lock
Due: none

Version 3.2.0
  composer.json
Due: none
